@page
@model Fora.UI.Pages.Forum.Account.UserSettings

<partial name="_Notyfications" />

@{ var interestCounter = 0;   var userInterestCounter = 0; var threadCounter = 0; }

    <h3> Hello @Model.UserName</h3>
    <br />
   

 <div class="container row-cols-sm-auto">
  <div class="card-columns d-flex justify-content-center">

        <!-- USER INTEREST TABLE-->
        <div class="card col-3 m-3 border-secondary" style="padding: 10px">
            <div class="card-block">
                <h4 class="card-title">Your Interests</h4>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">List of Interests:</th>
                        </tr>
                    </thead>
                    @foreach (var item in @Model.UserInterests)
                    {
                        userInterestCounter++;
                        <tbody>
                            <tr>
                                <td>@userInterestCounter</td>
                                <td>@item.Interest.Name </td>
                                <td>
                                    <form method="post">
                                        <button asp-page-handler="DeleteUserInterest" asp-route-id="@item.InterestId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">
                                          <i class="bi bi-trash"></i> &nbsp; Delete
                                        </button>
                                    </form>
                                  
                                </td>
                           
                            </tr>
                        </tbody>
                    }

                </table>

                <hr />
                <form method="post">
                    <label asp-for="UserInterests">Add new interest:</label>
                    <select asp-for="UserInterest" asp-items="@Model.InterestToChose" class="form-select">
                        <option disabled selected> -Add new Interest</option>
                    </select>
                    <br />
                    <button type="submit" class="btn btn-primary" asp-page-handler="AddUserInterest">Submit</button>
                </form>

            </div>
        </div>


        <!-- ALL INTEREST IN APP TABLE-->
        <div class="card col-3 m-3 border-secondary" style="padding: 10px">
            <div class="card-block">
                <h4 class="card-title">Interests in Fora</h4>

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">List of Interests:</th>
                        </tr>
                    </thead>
                    @foreach (var item in @Model.Interests)
                    {
                        interestCounter++;
                        <tbody>
                            <tr>
                                <td>@interestCounter</td>
                                <td>@item.Name</td>
                                <td>
                                    <form method="post">
                                        <button asp-page-handler="DeleteInterest" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">
                                          <i class="bi bi-trash-fill"></i> &nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>

        <!-- THREADS TABLE-->
        <div class="card col-6 m-3 border-secondary" style="padding: 10px">
            <div class="card-block">
                <h4 class="card-title">Your Threads</h4>

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Thread</th>
                        </tr>
                    </thead>
                    @foreach (var item in @Model.Threads)
                    {
                        threadCounter++;
                        <tbody>
                            
                            <tr>
                                <td>@threadCounter</td>
                                <td>
                                     @item.Name
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>

  </div>
</div>

<br /><br />

<div class="container row-cols-sm-auto">
    <div class="card-columns d-flex justify-content-center">
        <div class="card col-4 m-3 border-secondary" style="padding: 10px">
            <div class="card-block">

                <h4 class="card-title d-flex justify-content-center">Your Account</h4>
                <div class="d-flex justify-content-center">
                    <div class="mb-3 m-3">
                        <form method="post">
                            <button asp-page-handler="Deactivate"
                                    onclick="return confirm('After you deactivate you will be able to activate your account any time. Do you want to Deactivate?')"
                                    class="btn btn-info btn-sm">
                               <i class="bi bi-lock-fill"></i> &nbsp; Lock Account
                               
                            </button>
                        </form>
                    </div>

                    <div class="mb-3 m-3">
                        <form method="post">
                            <button asp-page-handler="DeleteAccount"
                                    onclick="return confirm('Are you sure you want to delete your account ?')"
                                    class="btn btn-danger btn-sm">
                                <i class="bi bi-trash-fill"></i> &nbsp; Delete Account
                            </button>
                        </form>
                    </div>
                </div>

                    <div class="mb-3 d-flex justify-content-center">
                        <form method="post">
                            <button asp-page-handler="Change password"
                                    onclick="return confirm('Are you sure you want to delete your account ?')"
                                    class="btn btn-primary btn-sm">
                               <i class="bi bi-key"></i>  &nbsp; Change password
                            </button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>